[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
aiohttp = "*"
dhooks = "*"
python-box = "*"
motor = "*"
python-decouple = "*"
dnspython = "*"
"flake8" = "*"
sanic-session = "*"
pyjwt = "*"
sanic-cors = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.7"
