{% extends "base.html" %}
{% block content %}

<main>

<div class="vertical-align-middle center container">
    <div class="card-panel hoverable" id='main-card'>
        <h1 class="animated jackInTheBox header" id='dashbots'>{{ title }}</h1>
        <h5 class="header col s12 light grey-text">{{ message }}</h5>
        <br>
        <div class="row center">
            <a href="https://github.com/kyb3r/modmail" id="my-button" class="btn waves-effect">Github</a>
            <a href="http://api.{{ config.DOMAIN }}" id="my-button" class="btn waves-effect">Learn More</a>
            <br>
        </div>
    </div>
</div>

</main>

{% endblock %}