<div class='navbar-fixed'>
    <nav class="lighten-1">
        <div class="nav-wrapper container">
            <a id="logo-container" href="http://{{ config.DOMAIN }}" class="brand-logo">
                <i class="material-icons" id='dash'>home</i>
            </a>
            
            <ul class="right hide-on-med-and-down">
            </ul>

            <a href="#!" data-target="nav-mobile" class="button-collapse sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>
        